# Porta 443 pública do Funnel (mapeada internamente para a 80) vai para o Viewer
:80 {
    reverse_proxy viewer:5173
}

# Porta 8443 pública do Funnel (mapeada internamente para a 81) vai para o Frigate
:81 {
    reverse_proxy frigate:5000
}